.channel-messages-container {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chat-input-form {
    margin-top: 1em;
    width: 100%;
}

#chat-input {
    width: 90%;
}

#chat-send-button {
    width:10;
}
