.all-content-container {
    display: flex;
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;
}

.left-nav-bars-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;

}

.left-nav-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100%;
    background-color: #313338;
    width: 100%;
}

.server-list {
    align-self: flex-start;

}

.channels-header {
    display: flex;
    gap: 20px;
}

.channel-menu-item {
    display: flex;
    gap: 10px;
}

.memberships-list-container {
    display: flex;
    flex-direction: column;
}

.home-main-content-wrapper {
    width: 100%;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    margin-top:0;
    align-items: center;
    background-color: #313338;
}

.home-page-image {
    position: absolute;
    width: 850px;
    height: 350px;
    border-radius: 10px;
}

.home-main-content-text {
    width: 50%;
    min-width: 300px;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 200px;
    background-image: url("https://mcdn.wallpapersafari.com/medium/48/64/VQ9gG1.jpg");
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

.user-info-wrapper {
    align-self: flex-start;
}


h2 {
    display: flex;
    /* flex-shrink: 1; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
    padding: 25px;
}

#homepage-user-info {
    display: flex;
    /* width: 100%; */
    align-items: center;
}

#homepage-user-info img {
    margin-right: 10px;
}


#home-page-discover-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#home-page-discover-link-container{
    height: 75px;
    width: 35%;
    border: .5px rgb(72, 71, 71) solid;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#home-page-discover-link-container:hover {
    background-color: #44454a;
}

#compass-and-text {
    display: flex;
    align-items: center;
}

#discover-link-text {
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
}

#discover-compass {
    font-size: 2em;
    background-color:  #23A559;
    color: white;
    border-radius: 35%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#discover-arrow {
    font-size: 1.1em;
    color: white;
    margin-right: 5px;
}


#discover-create-server {
    width: 35%;
}


#home-page-or {
    color: white;
    font-size: 1.25em;
    margin-bottom: 10px;
}


#homepage-user-info-wrapper button {
    background-color: transparent;
    border: none;
    margin-top: 2px;
    color: #B5BAC1;
}
