.all-content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-nav-bars-container {
    display: flex;
    width: 350px;
    justify-content: flex-start;
}

.left-nav-bars {
    display: flex;
}

.server-icons-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    list-style-type: none;
    align-items: center;
}

.server-icons {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.server-icon-buttons {
    border-radius: 100%;
    border: none;
    box-shadow: none;
}

.server-icon-buttons:hover {
    cursor: pointer;
}

.channels-header {
    display: flex;
    gap: 20px;
}

.channel-menu-item {
    display: flex;
    gap: 10px;
}

.memberships-list-container {
    display: flex;
    flex-direction: column;
}

.create-server-button {
    width: 60px;
    height: 60px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 100%;
    color: white;
    margin: 5px;
}

.discover-button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 100%;
    color: white;
    background-color: red;
}
