.discover-index-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #313338;
}

.discover-right-side-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    position: relative;
}

.discover-right-side-wrapper > h3 {
    color: white;
    align-self: center;
    /* margin-left: 10%; */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #4e5156;
    height: 60px;

}

.discover-main-image {
    position: absolute;
    max-width: 850px;
    width: 80%;
    height: 350px;
    border-radius: 10px;
}

.discover-header-text {
    width: 850px;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    z-index: 1;
}

.discover-user-info {
    align-self: flex-start;
}

.discover-header-wrapper {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.discover-index-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 25%);
    height: 90%;
    row-gap: 20px;
    width: 850px;
    margin-bottom: 50px;

}

.discover-item {
    background-color: #1E1F22;
    margin: 10px;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;

}

.discover-item-image {
    height: 100%;
    width: auto;
    border-radius: 10px ;
    /* aspect-ratio: auto; */
    margin-top: 10px;

}

h4 {
    color: white;
    margin-top: 15px;
}

.discover-item-text {
    margin: 15px;
    display: flex;
    flex-direction: column;
    background-color: #1E1F22;
    width: 100%;
    align-items: center;
}

.discover-join-button {
    background-color: #3a3c3e;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
}

.discover-join-button:hover {
    background-color: #4752C4;
    cursor: pointer;
}

.discover-right-side-wrapper .user-info-wrapper {
    margin: 1em;
}


.discover-item-image-container {
    width: 100%;
    max-width: 100%;
    height: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#featured-communities {
    width: 50%;
}

#discover-user-info-wrapper button {
    background-color: transparent;
    border: none;
    margin-top: 2px;
    color: #B5BAC1;
}

#discover-user-info-wrapper {
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    background-color: #1E1F22;
    padding: 0.5em;
    height: 60px;
}


#discover-user-info-wrapper-userinfo {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

#discover-user-info-wrapper button i{
    font-size: 1.5em;
    margin-top: 2px;
 }

 #discover-user-info-wrapper button i:hover {
    color: darkred;
    cursor: pointer;
 }
#discover-user-info-wrapper img {
    border-radius: 50%;
}
