.memberships-list-container {
    list-style-type: none;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.member-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.members-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5em;
    object-fit: cover;
}

.member-list-item .crown {
    margin-left: 0.7em;
}

.members-username {
    color: #B5BAC1;
    text-overflow: fade;
    overflow: hidden;
    white-space: no-wrap;
}

/* .member-list-outer-wrapper {
    overflow-y: scroll;
}

.member-list-outer-wrapper::webkit-scrollbar {
    width: 1px;
} */
