.top-bar-container {
    height: 45px;
    display: flex;
    background-color: darkgrey;
    color: white;
    align-items: center;
    width: 100%;
}

.topbar-server-title {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color:  #313338;
    color: white;
}

.top-bar-right-half {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #3a3c3e;
    color: white;
    height: 100%;
}

.right-right-icons {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
